@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Assistant&display=swap);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgba(0, 0, 0, 0.856);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgba(0, 0, 0, 0.856);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

body {
  background: linear-gradient(to left, #de7118, #de7118);
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#ads_div{
    position:fixed;
    top: 50%;
    left: 50%;
    width:50em;
    height:30em;
    margin-top: -15em; /*set to a negative number 1/2 of your height*/
    margin-left: -27em; /*set to a negative number 1/2 of your width*/
    background: transform;
    text-align: right;
}


.awesome_font{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}


/****************/
/*   CHECKBOX   */
/****************/

.my_checkbox {
  position: relative;
  padding-left: 1px;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.my_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.my_checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.my_checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

input[type="checkbox"]:disabled + span{
  opacity: 0.2;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.my_checkbox input:checked ~ .checkmark:after {
  display: block;
}

.my_checkbox .checkmark:after {
  left: 3px;
  top: -1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/****************/
/*    TABLE     */
/****************/



#ads_table td{
    padding: 8px;
    height: 35.2px;
    overflow: hidden;
    text-align:center;
}

#ads_table td:first-child{
    text-align: right;
    padding-right:20px;
}

#ads_div tr {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

#ads_div tr td:nth-child(1) {width: 30%;}
#ads_div tr td:nth-child(2) {width: 17.5%;}
#ads_div tr td:nth-child(3) {width: 17.5%;}
#ads_div tr td:nth-child(4) {width: 17.5%;}
#ads_div tr td:nth-child(5) {width: 17.5%;}

#ads_table tr:hover {background-color: #ddd;}

#table-wrapper {
  position:relative;
  height:70%;
}
#table-scroll {
  height:100%;
  border-left-style:solid;
  border-right-style:solid;
  border-left-color:black;
  border-right-color:black;
  overflow-y:auto;
  overflow-x:hidden;
}
#table-wrapper table {
  width:100%;
}
#table-wrapper table * {
  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}


/****************/
/*  SCROLL BAR  */
/****************/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


